@tailwind base;
@tailwind components;
@tailwind utilities;

/*  Custom scrollbar styles */
.custom-scroll::-webkit-scrollbar {
  width: 8px;
}
.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #475569; /* slate-600 */
  border-radius: 4px;
}
.custom-scroll::-webkit-scrollbar-track {
  background: #1e293b; /* slate-800 */
}
